body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

h2 {
    color: #333;
}

table {
    margin: auto;
    background: white;
    border-collapse: collapse;
}

th {
    background: #4CAF50;
    color: white;
}

td, th {
    padding: 10px;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:hover {
    color: red;
}